######################################
# Do any local nrpe configuration here
######################################

command[check_ssh]=/usr/lib/nagios/plugins/check_ssh 127.0.0.1

command[check_http]=/usr/lib/nagios/plugins/check_http 127.0.0.1
command[check_https]=/usr/lib/nagios/plugins/check_http -S -p 443 -I 127.0.0.1

command[check_users]=/usr/lib/nagios/plugins/check_users -w 10 -c 20
command[check_load]=/usr/lib/nagios/plugins/check_load -w 150,100,50 -c 300,250,200
command[check_hda1]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p /dev/hda1
command[check_zombie_procs]=sudo /usr/lib/nagios/plugins/check_procs -w 5 -c 10 -s Z
command[check_total_procs]=sudo /usr/lib/nagios/plugins/check_procs -w 1000 -c 1200 

# for uf6
command[check_smart_sda]=/usr/lib/nagios/plugins/check_smart.pl -d /dev/sda -i ata
command[check_smart_sdb]=/usr/lib/nagios/plugins/check_smart.pl -d /dev/sdb -i ata

# for uf5-hw
command[check_smart_4]=/usr/lib/nagios/plugins/check_smart.pl -d /dev/sda -i megaraid,4
command[check_smart_5]=/usr/lib/nagios/plugins/check_smart.pl -d /dev/sda -i megaraid,5
command[check_smart_6]=/usr/lib/nagios/plugins/check_smart.pl -d /dev/sda -i megaraid,6
command[check_smart_7]=/usr/lib/nagios/plugins/check_smart.pl -d /dev/sda -i megaraid,7

command[check_mailq]=/usr/lib/nagios/plugins/check_mailq -w 10 -c 20

command[check_psql_cr]=sudo -u postgres /etc/nagios/check_postgres/check_postgres.pl --action=commitratio
command[check_psql_hr]=sudo -u postgres /etc/nagios/check_postgres/check_postgres.pl --action=hitratio
command[check_psql_qt]=sudo -u postgres /etc/nagios/check_postgres/check_postgres.pl --action=query_time -w '2 minutes' -c '5 minutes' --exclude ~DAILY_SYNC_SERVER
command[check_psql_lk]=sudo -u postgres /etc/nagios/check_postgres/check_postgres.pl --action=locks -w 300 -c 400
command[check_psql_tw]=sudo -u postgres /etc/nagios/check_postgres/check_postgres.pl --action=txn_wraparound
